<div class="all d-flex justify-content-between align-items-center">
  <!-- start adding and remove button -->
  <div class="d-flex justify-content-between align-items-center">
    <!-- start delete button -->
    <div class="delete me-3">
      <button class="d-flex align-items-center">
        <p class="mx-auto">حذف المورد</p>
        <img class="mx-auto" src="assets/trash.svg" />
      </button>
    </div>
    <!-- end delete button -->
    <!-- start changing button -->
    <div class="change me-3 d-flex">
      <button class="d-flex align-items-center">
        <p class="mx-auto">حفظ التغيرات</p>
      </button>
    </div>
    <!-- start changing button -->
    <!-- start switch -->
    <p class="vertify">مفعلة</p>
    <div class="switch">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          checked
        />
      </div>
    </div>
    <!-- end switch -->
  </div>
  <!-- end adding and remove button -->

  <!-- start back button -->

  <div class="d-flex align-items-center">
    <p class="adding me-1">اضافة موارد جديدة</p>
    <div class="back d-flex">
      <img
        class="mx-auto d-block align-self-center"
        src="assets/arrow-right.svg"
        alt="sss"
      />
    </div>
  </div>
  <!-- end back button -->
</div>
